@media only screen and (max-width: 1550px) {
  /* Header */
  #header h2 {
    font-size: 3.8rem;
  }
  #header h1 {
    font-size: 6rem;
  }
  #header h3 {
    font-size: 2.4rem;
  }
  #header .h3-1 {
    top: 22%;
  }
  #header .h3-2 {
    top: 22.5%;
  }
  #header p {
    top: 37%;
    left: 15%;
    width: 45%;
    font-size: 1.25rem;
  }
  /* Project */
  .project-flag {
    margin-left: 13%;
    /* top: 7%;
    left: 35%; */
    width: 46rem;
  }
  .project-list {
    margin-top: 10%;
    margin-left: 18%;
    /* top: 30%;
    left: 38%; */
    font-size: 1.6rem;
  }
  .project-list li {
    margin-top: 0.5rem;
  }
  .projects {
    width: 33em;
  }
  .card h3 a.project-title {
    font-size: 2rem;
  }
  .card h3 a.project-github {
    width: 2rem;
    margin-left: 1rem;
  }
  .card ul {
    margin-top: 0.45rem;
  }
  .card li img {
    /* width: 1.5rem; */
    padding-left: 0.3rem;
  }
  .card p {
    font-size: 1.2rem;
    line-height: 1.1;
  }
  #contact .contact-paragraph {
    position: relative;
    left: 55%;
    width: 35%;
  }
  .contact-paragraph p:first-child {
    font-size: 1.7rem;
  }
  .contact-paragraph p:last-child {
    font-size: 1.7rem;
  }
  /* Footer */
  footer::after {
    border-width: 12rem 17rem 12rem 17rem;
  }
  footer .copyright {
    display: block;
  }
  footer .copyright {
    display: block;
  }
  footer .copyright {
    display: block;
  }
  .click-email {
    top: -190%;
  }
  .click-email .my-email {
    display: block;
    font-size: 1.3rem;
  }
  .click-email .copied {
    display: block;
  }
  .top-arrow {
    display: block;
  }
  footer .footer-text a {
    left: 3%;
  }
  .span-email a {
    top: -200%;
  }
  .span-email a:hover i {
    opacity: 0;
  }
  .span-resume a {
    top: -135%;
  }
  .span-resume a:hover i {
    opacity: 0;
  }
  .span-github a {
    top: -70%;
  }
  .span-github a:hover i {
    opacity: 0;
  }
}

@media only screen and (max-width: 1250px) {
  footer .copyright {
    position: absolute;
    bottom: 3vh;
    left: 65%;
    transform: translate(-50%, 0);
    width: 35%;
    padding-bottom: 1rem;
    line-height: 1.2;
    font-size: 0.75rem;
    font-family: IBMPlexMono-SemiBold;
    text-align: center;
    color: #3e4951;
    z-index: 1;
  }
}
